<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="sangha-typography">
  <template>
    <style>
      :host {
        line-height: 1.5;
        @apply --paper-font-common-base;
        word-wrap: break-word;
        word-break: break-word;
        color: var(--primary-text-color);
      }

      h1 {
        @apply --paper-font-display2;
        @apply --paper-font-extra-header;
      }
      h2 {
        @apply --paper-font-display1;
        @apply --paper-font-extra-header;
      }
      h3 {
        @apply --paper-font-headline;
        @apply --paper-font-extra-header;
      }
      h4 {
        @apply --paper-font-title;
        @apply --paper-font-extra-header;
      }
      h5, h6 {
        @apply --paper-font-subhead;
        @apply --paper-font-extra-header;
      }

      h1::after, h2::after {
        @apply --paper-font-header-after;
      }

      hr {
        @apply --paper-font-hr;
      }

      paper-button.primary {
        --paper-button: {
          background-color: var(--primary-color);
          color: var(--primary-background-color);
        }
      }


      a, a:visited {
        color: var(--primary-color);
        text-decoration: none;
      }
      a:hover {
        filter: brightness(75%);
      }
    </style>
  </template>
</dom-module>
