<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/sangha-material-checkout/sangha-material-checkout.html">

<dom-module id="sangha-404">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    The page doesnt exist! <a href="[[ route.prefix ]]/">Head back to home.</a>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Sangha404 extends Polymer.Element {
      static get is() { return 'sangha-404'; }

      static get properties() {
        return {
          route: {
            type: Object,
          },
          visible: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
            observer: "_setMeta",
          },
        };
      }

      _setMeta(visible) {
        if (visible) {
          this.dispatchEvent(new CustomEvent('sangha-metadata', {
            detail: {
              title: "Page not found!",
              status: 404,
            },
            bubbles: true,
            composed: true,
          }));
        }
      }
    }

    customElements.define(Sangha404.is, Sangha404);
  </script>
</dom-module>
