<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../styles/sangha-typography.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/sangha-contributors/sangha-contributors.html">
<link rel="import" href="../../bower_components/sangha-responsive-image/sangha-responsive-image.html">
<link rel="import" href="../../bower_components/sangha-material-checkout/sangha-material-checkout.html">

<dom-module id="sangha-project">
  <template>
    <style include="sangha-typography">
      :host {
        display: block;
      }

      * {
        box-sizing: border-box;
      }

      .horizontal-center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      @media (max-width: 35em) {
        .logo, .quickinfo {
          text-align: center;
        }
      }
      @media (min-width: 35em) {
        .horizontal-center-responsive {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        .grow {
          width: 50%;
        }

        .quickinfo {
          text-align: left;
          padding-left: 2em;
        }
        .logo {
          text-align: right;
        }
      }
      .vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .quickinfo ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .cta {
        padding: 1em 4em;
      }

      img {
        width: 100%;
        height: auto;
      }
      hr {
        margin: 2em 0em;
      }

      h2, h3, h4 {
        text-align: center;
      }

      .centered {
        margin: auto;
      }
      .text-block {
        max-width: 50em;
      }
      sangha-material-checkout {
        max-width: 35em;
        @apply --shadow-elevation-2dp;
        padding: 1em;
      }
      .bottom-buttons {
        margin: 3em 0 2em;
      }
      .background {
        margin: 2em -1em;
        padding: 2em 0;

        background-color: var(--primary-color);
        color: var(--primary-background-color);
      }
      .background h2, .background h2::after, .background h3, .background h4 {
        color: var(--primary-background-color);
        border-bottom-color: var(--primary-background-color);
      }
      .background a, .background a:visited {
        color: var(--primary-background-color);
      }
    </style>
    <h1>[[ project.name ]]</h1>
    <div class="horizontal-center-responsive">
      <div class="logo grow">
        <sangha-responsive-image img="[[ project.logo ]]" width="300" height="300"></sangha-responsive-image>
      </div>
      <div class="quickinfo vertical-center grow">
        <ul>
          <li><a href="[[ project.website ]]">Website</a></li>
          <li><a href="[[ project.repository ]]">Repository</a></li>
          <li>[[ project.license ]] License</li>
        </ul>
      </div>
    </div>

    <div class="horizontal-center" style="margin-top: 2em;">
      <sangha-contributors contributors="[[ project.contributors ]]" overlap></sangha-contributors>
    </div>

    <div class="horizontal-center" style="margin-top: 2em;">
      <a href="#donate">
        <paper-button large class="primary cta" on-click="_scrollToDonationForm">Donate</paper-button>
      </a>
    </div>

    <div class="background">
      <div class="centered text-block">
        <h2>About this project</h2>
        <marked-element markdown="[[ project.about ]]">
          <div slot="markdown-html"></div>
        </marked-element>
        <sangha-contributors contributors="[[ project.contributors ]]" large max-contributors="5" style="justify-content: center;"></sangha-contributors>
      </div>
    </div>

    <sangha-material-checkout
      id="donate"
      class="centered"
      standalone
      cart-items="[[ cartItems ]]"
      gateways="[[ settings.paymentGateways ]]"
      donation-buttons='[500,1000,2500,10000]'>
      <h2 slot="header">Donate to [[ project.name ]]</h2>
      <a slot="after-cart" on-click="addToCart" href>
        Donate to more projects
      </a>
    </sangha-material-checkout>

    <div class="horizontal-center bottom-buttons">
      <a class="back" href="[[ baseUrl ]]/">
        <paper-button>
          Back to project list
        </paper-button>
      </a>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SanghaProject extends Polymer.Element {
      static get is() { return 'sangha-project'; }

      static get properties() {
        return {
          project: {
            type: Object,
            observer: "updateMetadata",
          },
          baseUrl: {
            type: String,
          },
          settings: {
            type: Object,
          },
          cartItems: {
            type: Array,
            value: () => {
              return [];
            },
          },
        };
      }

      static get observers() {
        return [
          "_cartItems(project)",
        ];
      }

      updateMetadata(project) {
        this.dispatchEvent(new CustomEvent('sangha-metadata', {
          detail: {
            title: project.name,
            description: project.summary,
            image: project.logo,
          },
          bubbles: true,
          composed: true,
        }));
      }

      _cartItems(project) {
        if (project.id) {
          this.cartItems = [{
            project,
            amount: 1000,
          }];
        }
      }

      _scrollToDonationForm() {
        this.$.donate.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
      }

      addToCart(event) {
        this.dispatchEvent(new CustomEvent('sangha-cart-add-project', {
          detail: {
            project: this.project,
          },
          bubbles: true,
          composed: true,
        }));
      }
    }

    customElements.define(SanghaProject.is, SanghaProject);
  </script>
</dom-module>
