<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/sangha-material-checkout/sangha-material-checkout.html">
<link rel="import" href="../styles/sangha-typography.html">

<dom-module id="sangha-checkout">
  <template>
    <style include="sangha-typography">
      :host {
        display: block;
      }

      sangha-material-checkout {
        max-width: 45em;
        margin: 0 auto;
        @apply --shadow-elevation-2dp;
        padding: 1em;
      }

      h2 {
        text-align: center;
      }
    </style>

    <sangha-material-checkout
      name="checkout"
      gateways="[[ settings.paymentGateways ]]"
      donation-minimum="[[ settings.donationMinimumCents ]]">
      <h2 slot="header">Donate</h2>
      <a slot="after-cart" href="/projects/">
        Add projects
      </a>
    </sangha-material-checkout>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SanghaCheckout extends Polymer.Element {
      static get is() { return 'sangha-checkout'; }

      static get properties() {
        return {
          settings: Object,
        };
      }
    }

    customElements.define(SanghaCheckout.is, SanghaCheckout);
  </script>
</dom-module>
