<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/jsonapi-helpers/jsonapi-resource.html">
<link rel="lazy-import" href="../../bower_components/sangha-embed/sangha-top-projects.html">

<!-- load checkout view since we depend on it -->
<link rel="import" href="../views/sangha-checkout.html">
<link rel="lazy-import" href="sangha-project.html">
<link rel="lazy-import" href="sangha-404.html">

<dom-module id="sangha-projects">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-route
      route="{{ route }}"
      pattern="/:id"
      on-active-changed="_resetSingleProject"
      data="{{ routeData }}"></app-route>

    <jsonapi-resource
      resource="projects"
      response="{{ singleProject }}"
      filters="[[ projectFilter ]]"
      auto-get="[[ routeData.id ]]" single
      on-jsonapi-error="_projectNotFound"></jsonapi-resource>

    <iron-lazy-pages
      selected="[[ page ]]"
      attr-for-selected="view"
      selected-attribute="visible"
      fallback-selection="project">

      <sangha-top-projects
        view="list"
        cart-available
        data-path="../../bower_components/sangha-embed/sangha-top-projects.html"
        base-url="."
        limit="0"
      ></sangha-top-projects>

      <div view="project" data-path="sangha-project.html">
        <sangha-project project="[[ singleProject ]]" base-url="[[ route.prefix ]]" settings="[[ settings ]]"></sangha-project>
      </div>

      <sangha-404 view="404" data-path="sangha-404.html" route="[[ route ]]"></sangha-404>
    </iron-lazy-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SanghaProjects extends Polymer.Element {
      static get is() { return 'sangha-projects'; }

      static get properties() {
        return {
          route: {
            type: Object,
            notify: true,
          },
          projectFilter: {
            type: Object,
            computed: "_projectFilter(routeData.id)",
          },
          page: {
            type: String,
          },
          settings: {
            type: Object,
          },
        };
      }

      static get observers() {
        return [
          '_routeChanged(routeData.*)',
        ];
      }

      _resetSingleProject(event) {
        if (event.detail.value == false) {
          this.set('routeData', {});
          this.set('singleProject', {});
        }
      }

      _projectNotFound(event) {
        this.page = "404";
      }

      _routeChanged() {
        if (this.routeData.id) {
          this.page = "project";
        } else {
          this.page = "list";
        }
      }

      _projectFilter(slug) {
        return {
          slug: slug,
        };
      }
    }

    customElements.define(SanghaProjects.is, SanghaProjects);
  </script>
</dom-module>
