<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="app-header-collapse-to-drawer">
  <template>
    <style>
      :host {
        display: block;
        --app-header-bg-color: var(--primary-color);
        --app-header-font-color: var(--primary-background-color);
        @apply --app-header-mixin;
      }
      :host([simple]) {
        --app-header-bg-color: var(--primary-background-color);
        --app-header-font-color: var(--primary-color);
      }
      a, a:visited {
        color: inherit;
        text-decoration: none;
        outline: 0;
      }
      a:hover {
        filter: brightness(75%);
      }
      app-toolbar {
        background-color: var(--app-header-bg-color);
        color: var(--app-header-font-color);
      }

      app-header a, app-header a:visited {
        color: inherit;
        margin-right: 0.8em;
      }
      [main-title] {
        pointer-events: auto;
      }
      paper-icon-button {
        margin-right: 1rem;
      }
      nav {
        height: 100%;
      }
      paper-tabs {
        max-width: 640px;
        height: 100%;
        --paper-tabs-selection-bar-color: var(--app-header-font-color, black);
      }
      paper-tab {
        padding: 0;
        --paper-tab-ink: var(--app-header-font-color, black);
        text-transform: uppercase;
        --paper-tab-content-unselected: {
          opacity: 1;
        }
        @apply --app-header-mixin;
      }
      paper-tab a, paper-item a {
        margin: 0;
        padding: 0 0.8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      paper-item {
        padding: 0;
      }
      paper-item a {
        min-height: var(--paper-item-min-height, 48px);
        width: 100%;
        padding-left: 1.3em;
      }

      app-header {
        width: 100%;
      }

      app-drawer-layout {
        z-index: 1000;
      }

      [hidden] {
        display: none !important;
      }

      /* techcultivation design */
      :host([simple]) app-header {
        border-bottom: 1px #e7e7e7 solid;
      }
      :host([simple]) app-toolbar {
        height: 50px;
        --app-toolbar-font-size: 14px;
      }
      :host([simple]) paper-tabs {
        font-size: 13px;
        --paper-tabs-selection-bar-color: transparent;
      }
    </style>

    <iron-media-query query="min-width: 600px" query-matches="{{ wideLayout }}"></iron-media-query>

    <app-drawer-layout force-narrow>

      <app-drawer id="drawer">

        <app-toolbar>
          <paper-icon-button class="menu-button" icon="close" on-click="closeDrawer"></paper-icon-button>
        </app-toolbar>

        <!-- Nav on mobile: side nav menu -->
        <paper-listbox selected="{{ selected }}" attr-for-selected="path" selected-attribute="raised">
          <template is="dom-repeat" items="{{ navigation }}">
            <paper-item path$="[[ item.path ]]" on-click="closeDrawer">
              <a href="[[ routePrefix ]]/[[ item.path ]]/" tabindex="-1">
                [[ item.title ]]
              </a>
            </paper-item>
          </template>
        </paper-listbox>

      </app-drawer>

      <app-header-layout>
        <app-header slot="header" reveals>

          <app-toolbar>
            <paper-icon-button class="menu-button" icon="menu" on-click="toggleDrawer" hidden$="{{ wideLayout }}"></paper-icon-button>
            <div main-title>
              <a href="[[ routePrefix ]]/">[[ appTitle ]]</a>
            </div>
            <nav>
              <!-- Nav on desktop: tabs -->
              <paper-tabs selected="{{ selected }}" attr-for-selected="path" bottom-item hidden$="{{ !wideLayout }}">
                <template is="dom-repeat" items="{{ navigation }}">
                  <paper-tab path$="[[ item.path ]]">
                    <a href="[[ routePrefix ]]/[[ item.path ]]/" tabindex="-1">
                      [[ item.title ]]
                    </a>
                  </paper-tab>
                </template>
              </paper-tabs>
            </nav>
          </app-toolbar>
        </app-header>

      </app-header-layout>
    </app-drawer-layout>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class AppHeaderCollapseToDrawer extends Polymer.Element {
      static get is() { return 'app-header-collapse-to-drawer'; }

      static get properties() {
        return {
          // Navigation elements
          navigation: {
            type: Array,
          },
          selected: {
            type: String,
            notify: true,
          },
          routePrefix: {
            type: String,
          },
          appTitle: {
            type: String,
          },
          wideLayout: {
            type: Boolean,
            value: false,
            observer: 'closeDrawer',
          },
        };
      }

      toggleDrawer(wide) {
        var drawer = this.$.drawer;
        if (wide) {
          drawer.opened = !drawer.opened;
        }
      }

      closeDrawer(wide) {
        var drawer = this.$.drawer;
        if (wide && drawer.opened) {
          drawer.opened = false;
        }
      }
      openDrawer(wide) {
        var drawer = this.$.drawer;
        drawer.opened = true;
      }
    }

    window.customElements.define(AppHeaderCollapseToDrawer.is, AppHeaderCollapseToDrawer);
  </script>
</dom-module>
