<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/jsonapi-helpers/jsonapi-settings.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="sangha-spinner.html">

<dom-module id="sangha-markdown-content">
  <template>
    <iron-ajax id="data" url="[[ apiRoot ]]/[[ resource ]]/[[ content ]]" last-response="{{ markdown }}" handle-as="text" on-response="_loaded"></iron-ajax>
    <sangha-spinner id="spinner"></sangha-spinner>
    <marked-element markdown="[[ markdown ]]">
      <div slot="markdown-html"></div>
    </marked-element>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     * @polymerMixin JsonapiSettingsMixin
     */
    class SanghaMarkdownContent extends JsonapiSettingsMixin(Polymer.Element) {
      static get is() { return 'sangha-markdown-content'; }

      static get properties() {
        return {
          apiRoot: {
            type: String,
          },
          content: {
            type: String,
          },
          resource: {
            type: String,
            value: "../settings",
          },
          visible: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
        }
      }

      static get observers() {
        return [
          "_fetchData(apiRoot, visible)",
        ]
      }

      // use lightdom for easier styling
      _attachDom(dom) {
        this.appendChild(dom);
      }

      _loaded() {
        this.$.spinner.setAttribute('hidden', true);
      }

      _fetchData(api, visible) {
        if (api && visible) {
          this.$.data.auto = true;
        }
      }
    }

    window.customElements.define(SanghaMarkdownContent.is, SanghaMarkdownContent);
  </script>
</dom-module>
