<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="sangha-spinner">
  <template>
    <style>
      @keyframes rotating {
        from { transform: rotate(0); }
        to { transform: rotate(360deg); }
      }
      #spinner {
        text-align: center;
      }
      .spinner {
        width: 4em;
        color: var(--primary-color, gray);
        animation: 1.5s rotating linear infinite;
      }
    </style>
    <div id="spinner">
      <svg class="spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
        <path opacity=".2" fill="currentColor" d="M20.2 5.17c-8.25 0-14.94 6.7-14.94 14.95s6.7 14.94 14.94 14.94 14.95-6.7 14.95-14.95c0-8.2-6.7-14.9-14.95-14.9zm0 26.58c-6.42 0-11.63-5.2-11.63-11.64 0-6.4 5.2-11.6 11.63-11.6 6.43 0 11.63 5.2 11.63 11.65S26.63 31.8 20.2 31.8z"/>
        <path fill="currentColor" d="M26 10.05l1.67-2.87c-2.2-1.27-4.75-2-7.47-2v3.3c2.12 0 4.1.58 5.8 1.57z"/>
      </svg>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaSpinner extends Polymer.Element {
      static get is() { return 'sangha-spinner'; }
    }

    window.customElements.define(SanghaSpinner.is, SanghaSpinner);
  </script>
</dom-module>
