<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-metadata/app-metadata.html">

<dom-module id="sangha-metadata">
  <template>
    <app-metadata id="meta"></app-metadata>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaMetadata extends JsonapiSettingsMixin(Polymer.Element) {
      static get is() { return 'sangha-metadata'; }

      static get properties() {
        return {
          // your sites name for the window title
          siteName: {
            type: String,
            value: "Sangha",
          },
          // the default site type (website, article, book)
          siteType: {
            type: String,
            value: "website",
          },
          // the website owners twitter handle
          twitterHandle: {
            type: String,
          },
          // the associated facebook app id
          fbAppId: {
            type: String,
          },
          // preview image, facebook recommends 1,91:1 and twitter 2:1
          imageSize: {
            type: Object,
            value: {
              width: 2000,
              height: 1000,
            },
          },
        };
      }

      ready() {
        super.ready();
        document.body.addEventListener('sangha-metadata', (event) => {
          this.set(event.detail);
        });
      }

      set(data) {
        // create local copy to work with
        var metadata = Object.assign({}, data);

        // set open graph attributes
        metadata["og:type"] = metadata.type || this.siteType;
        metadata["og:url"] = document.location.href;
        metadata["og:title"] = metadata.title || this.siteName;
        metadata["og:site_name"] = this.siteName;
        metadata["og:description"] = metadata.description || "";

        if (metadata.image) {
          let image_url = this._appendUrlParam(metadata.image,`height=${this.imageSize.height}&width=${this.imageSize.width}`);
          metadata["twitter:image"] = image_url;
          metadata["og:image:url"] = image_url;
          metadata["og:image:width"] = this.imageSize.width;
          metadata["og:image:height"] = this.imageSize.height;
        }

        // set facebook specific attributes
        metadata["fb:app_id"] = this.fbAppId || "";

        // set twitter specific attributes
        metadata["twitter:card"] = metadata.image ? "summary_large_image" : "summary";
        metadata["twitter:site"] = this.twitterHandle || "";


        // set http status code for prerender service
        if (metadata.status) {
          metadata["render:status_code"] = metadata.status;
        }

        // set window title including app name
        metadata.title = `${metadata.title} - ${this.siteName}`;

        this.$.meta.data = metadata;
      }

      _appendUrlParam(url, paramString) {
        var url = url || '';

        if (paramString) {
          var bindingChar = url.indexOf('?') >= 0 ? '&' : '?';
          return url + bindingChar + paramString;
        }

        return url;
      }
    }

    window.customElements.define(SanghaMetadata.is, SanghaMetadata);
  </script>
</dom-module>
