<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="styles/sangha-typography.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">

<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/jsonapi-helpers/jsonapi-error-toast.html">
<link rel="import" href="../bower_components/jsonapi-helpers/jsonapi-settings.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/serviceworker-helpers/sw-update-toast.html">
<link rel="import" href="../bower_components/sangha-embed/sangha-top-projects.html">

<link rel="lazy-import" href="views/sangha-404.html">
<link rel="lazy-import" href="views/sangha-checkout.html">
<link rel="lazy-import" href="views/sangha-projects.html">

<link rel="import" href="elements/sangha-markdown-content.html">
<link rel="import" href="elements/sangha-metadata.html">
<link rel="import" href="elements/app-header-collapse-to-drawer.html">

<dom-module id="sangha-app">
  <template>
    <style include="sangha-typography">
      :host {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      app-header-collapse-to-drawer {
        display: flex;
      }
      main {
        padding: 1em;
        flex: 1;
      }

      .container {
        display: block;
        max-width: 64em;
        margin: auto;
      }

      footer {
        padding: 0 0.5em;
        overflow: hidden;
        word-wrap:break-word;
        text-align: center;
        background-color: var(--primary-color);
        color: var(--primary-background-color);
        @apply --paper-font-caption;
      }
      footer ul {
        list-style-type: none;
        padding: 0;
      }
      footer li {
        display: inline;
        margin: 0 0.5em;
      }
      footer a, footer a:visited {
        color: var(--primary-background-color);
      }

      sw-update-toast {
        --primary-color: red;
      }
    </style>

    <app-location route="{{route}}" on-route-changed="_scrollTop"></app-location>
    <jsonapi-settings api-root="[[ settings.api_url ]]"></jsonapi-settings>
    <iron-ajax url="[[ settings.api_url ]]/../settings/settings.json" last-response="{{ sanghaSettings }}" handle-as="json" auto="[[ settings.api_url ]]"></iron-ajax>

    <sw-update-toast></sw-update-toast>
    <jsonapi-error-toast></jsonapi-error-toast>
    <sangha-metadata
      id="meta"
      site-name="[[ sanghaSettings.title ]]"
      twitter-handle="[[ sanghaSettings.social.twitter ]]"
    ></sangha-metadata>

    <app-route
      id="page"
      route="{{ route }}"
      pattern="/:view"
      data="{{ routeData }}"
      tail="{{ subroute }}"></app-route>

    <app-header-collapse-to-drawer
      simple$="[[ !settings.navbar ]]"
      app-title="[[ sanghaSettings.title ]]"
      navigation="[[ navigation ]]"
      route-prefix="[[ routeData.prefix ]]"
      selected="{{ view }}">
    </app-header-collapse-to-drawer>

    <main on-sangha-cart-add-project="openAddActionDialog">
      <iron-lazy-pages
        selected="[[ view ]]"
        attr-for-selected="view"
        selected-attribute="visible"
        fallback-selection="404">

        <sangha-markdown-content class="container" view="home" content="donate.md"></sangha-markdown-content>
        <sangha-markdown-content class="container" view="faq" content="faq.md"></sangha-markdown-content>
        <sangha-markdown-content class="container" view="how-it-works" content="how-it-works.md"></sangha-markdown-content>
        <sangha-checkout view="checkout" data-path="views/sangha-checkout.html" settings="[[ sanghaSettings ]]"></sangha-checkout>
        <sangha-projects view="projects" data-path="views/sangha-projects.html" route="{{ subroute }}" settings="[[ sanghaSettings ]]"></sangha-projects>
        <sangha-404 view="404" data-path="views/sangha-404.html" route="[[ route ]]"></sangha-404>
      </iron-lazy-pages>

      <paper-dialog id="addAction">
        <h2>Project added</h2>
        <div>
          The project has been added to your cart!
        </div>
        <div class="buttons">
          <a href="/projects/">
            <paper-button dialog-dismiss>Keep exploring projects</paper-button>
          </a>
          <paper-button dialog-confirm on-click="goToCheckout" class="primary">Go to checkout</paper-button>
        </div>
      </paper-dialog>
    </main>

    <footer>
      <sangha-markdown-content class="container" content="footer.md" visible></sangha-markdown-content>
    </footer>

  </template>

  <script>
    class SanghaApp extends Polymer.Element {
      static get is() { return 'sangha-app'; }

      static get properties() {
        return {
          settings: {
            type: Object,
          },
          routeData: {
            type: Object,
          },
          subroute: {
            type: Object,
          },
          view: {
            type: String,
          },
          sanghaSettings: {
            type: Object,
            value: () => {
              return {};
            },
          },
          navigation: {
            type: Array,
            value: () => {
              return [
                {
                  path: "how-it-works",
                  title: "How it works",
                }, {
                  path: "projects",
                  title: "Discover Projects",
                }, {
                  path: "faq",
                  title: "FAQ",
                }, {
                  path: "checkout",
                  title: "Checkout",
                  icon:  "shopping-cart",
              }];
            },
          },
        };
      }

      static get observers() {
        return [
          '_updateView(routeData.view)',
          '_updateMetadata(view, sanghaSettings.metadata)',
        ];
      }

      _updateView(view) {
        this.view = view || "home";
      }

      _scrollTop() {
        window.scroll(0,0);
      }

      _updateMetadata(view, metadata) {
        if(metadata && metadata[view]) {
          this.$.meta.set(metadata[view]);
        }
      }

      goToCheckout(event) {
        this.set("routeData.view", "checkout");
      }

      openAddActionDialog() {
        this.$.addAction.open();
      }
    }

    window.customElements.define(SanghaApp.is, SanghaApp);
  </script>
</dom-module>
